<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Main.js"></script>
    <script src="https://kit.fontawesome.com/523a433e0c.js" crossorigin="anonymous"></script>
    <title>DILO</title>
</head>
<body>
<div id="form">
    <form action="">
        <h2 class="title">Cadastrar Idoso</h2>
        <Label for="nome-idoso">Nome</Label>
        <div class="input">
            <i class="fa-solid fa-scroll-old"></i>
            <input type="text" id="nome-idoso" for="username" name="nome-idoso" Placeholder="Digite o nome">
        </div>
        <label for="">Email responsavel</label>
        <div class="input">
            <i class="fa-solid fa-scroll-old"></i>
            <input type="text" id="email" name="email" Placeholder="insira o email do responsavel">
        </div>
        <label for="">Telefone do responsavel</label>
        <div class="input">
            <i class="fa-solid fa-scroll-old"></i>
            <input type="tel" id="tell" name="tell" Placeholder="insira o Telefone do responsavel">
        </div>
        <Label for="orientacao">orientações</Label>
        <div class="input">
            <i class="fa-solid fa-scroll-old"></i>
            <input type="text" id="orientacao"name="orientacao" Placeholder="observações sobre o idoso(doenças,alergias)">
        </div>
        <div id="btn">
            <button type="submit">Cadastrar Idoso</button>
            <br>
            <br>
            <a class="btn-link" href="/">Voltar</a>
        </div>
    </form>
</div>
<%- include('styleCadastro'); %>
</body>
</html>