<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="../Main.js "></script>
    <title>DILO</title>
</head>
<body>
    <div id="form">
        <form action="">
            <img src="https://cdn.discordapp.com/attachments/846124316252569602/1043594834411261993/LogoSample_ByTailorBrands-removebg-preview.png">
            <h2 class="title">Fazer Login</h2>
            <Label for="nome">Nome</Label>
            <div class="input">
                <i class="fa-solid fa-scroll-old"></i>
                <input type="text" id="nome" for="username" name="nome" Placeholder="Digite seu usuario" required>
            </div>
            <label for="">Senha</label>
            <div class="input">
                <i class="fa-solid fa-scroll-old"></i>
                <input type="password" id="senha" name="senha" Placeholder="insira sua senha" required>
            </div>
            
            <div id="btn">
                <button type="button" onclick="entrar(); return false">Entrar</button>
            </div>
        </form>
    </div>
   <%- include('../funcionais/scriptLogin') %>
    <%- include('../funcionais/styleCadastro'); %>
</body>
</html>