<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <script src="Main.js"></script>
    <title>DILO</title>
</head>
<body>
   <div class="form">
    <form action="" method="GET">
        <fieldset id="Login">
            <img src="https://cdn.discordapp.com/attachments/846124316252569602/1043594834411261993/LogoSample_ByTailorBrands-removebg-preview.png">
            <p>Usuario</p>
            <input type="text" class="input1" placeholder="Digite seu usuario ">
            <p>Senha</p>
            <input type="password" name="password" class="input2" placeholder="Digite sua senha">
            <br>
            <br>
            <input type="submit" onclick="logar(); return false">
            <br>
            <br>
            <a class="btn-link" href="/pagcuid">Entrar Cuidador</a>
            <br>
            <br>
            <br>
            <a class="btn-link" href="/pagmed">Entrar Medico</a>
        </fieldset>
    </form>
   </div>
<%- include('style'); %>
   
</body>
</html>